.filter {
  margin-top: 68px;
}

.filterInner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .filterTitle {
    color: #646669;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;

    span {
      color: #d1d0c5;
    }
  }
}

.filterBlock {
  display: flex;
  position: relative;

  .title {
    color: #646669;
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;

    span {
      color: #d1d0c5;
      border-bottom: 1px dashed #d1d0c5;
      cursor: pointer;
      user-select: none;
    }
  }

  ul {
    position: absolute;
    top: 40px;
    right: 0;
    background: #1e1e1e;
    border-radius: 10px;
    padding: 10px 0;
    color: #d1d0c5;

    li {
      padding: 10px;
      user-select: none;

      &:hover {
        background: #303030;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .filterInner .filterTitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  .filterInner {
    display: block;
  }

  .filter {
    margin-top: 30px;
  }
}
