.header {
  border-bottom: 1px solid #646669;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  margin: 20px 0;

  ul {
    position: absolute;
    top: 46px;
    left: 0;
    background: #1e1e1e;
    border-radius: 5px;
    width: 100%;
    padding: 20px;

    li {
      color: #ffffff;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;

      margin-bottom: 10px;
      padding: 5px 5px 5px 35px;
      border-radius: 5px;
      position: relative;

      &:last-child {
        margin-bottom: 0px;
      }

      &:hover {
        background: rgba(50, 52, 55, 0.5);
        cursor: pointer;
      }

      &::before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background: url("./images/phone.svg");
        position: absolute;
        top: 6px;
        left: 5px;
      }
    }
  }
}

.headerSearch {
  display: flex;
  align-items: center;
  position: relative;

  .headerSearchInput {
    border: 1px solid #646669;
    border-radius: 10px;
    outline: none;
    background: transparent;
    color: #646669;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    padding: 7px 46px;

    &::selection {
      background: #1f2022;
    }
  }

  .search {
    position: absolute;
    top: 11px;
    left: 17px;
  }

  .close {
    position: absolute;
    top: 11px;
    right: 11px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover path {
      fill: #444549;
    }
  }
}

.headerLogo {
  cursor: pointer;
}

.headerCart {
  display: flex;
  align-items: center;

  .headerCartLink {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;

    &:hover path {
      fill: #444549;
    }
  }

  &Block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 11px;
    height: 39px;
    background: #646669;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.4s ease;
    user-select: none;

    &:hover {
      background: #444549;
    }

    svg {
      margin-right: 8px;
    }

    .headerCartAmount {
      color: #d1d0c5;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;

      border-right: 2px solid #d1d0c5;
      border-radius: 1px;
      padding-right: 10px;
    }

    .headerCartPrice {
      color: #d1d0c5;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;

      padding-left: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .headerInner {
    display: grid;
    grid-template-areas:
      "logo cart"
      "search search";
    row-gap: 10px;
  }

  .headerSearch {
    grid-area: search;
  }

  .headerLogo {
    grid-area: logo;
  }

  .headerCart {
    grid-area: cart;
  }
}

@media screen and (max-width: 550px) {
  .headerSearch {
    input {
      width: 100%;
    }
  }

  .headerCartBlock {
    svg {
      display: none;
    }
  }
}

@media screen and (max-width: 360px) {
  .headerCartAmount {
    display: none;
  }

  .headerCartBlock .headerCartPrice {
    padding-left: 0;
  }
}
