.notFound {
  margin-top: 10%;
  border-radius: 10px;
  background: #1e1e1e;
}

.notFoundInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 25px;

  .logo {
    :hover {
      fill: #282a2c;
      cursor: pointer;
    }
  }

  .title {
    color: #646669;
    font-size: 36px;
    margin-top: 20px;
  }

  .description {
    color: #646669;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
  }
}
